To run the entire notebook may take ~10mins (cell 55 is slower due to iterating through lots of values)

# Importing required libraries

In [1]:
import pandas as pd
import matplotlib

# Reading the site data from the CSV and saving to a DataFrame

In [2]:
sites_df = pd.read_csv('01012016_31072024.csv', header=3, nrows=6)

sites_df.head()

,Site Name,Unnamed: 1,Aberdeen Anderson Dr,Unnamed: 3,Aberdeen King Street,Unnamed: 5,Aberdeen Market Street 2,Unnamed: 7,Aberdeen Union Street Roadside,Unnamed: 9,...,Westminster - Elizabeth Bridge,Unnamed: 367,Wigan Leigh 3,Unnamed: 369,Winchester St Georges Street,Unnamed: 371,Wrexham Chirk,Unnamed: 373,York Gillygate,Unnamed: 375
0,Latitude,NaN,57.128567,NaN,57.169738,NaN,57.141922,NaN,57.144555,NaN,...,51.492248,NaN,53.497759,NaN,51.063056,NaN,52.93742,NaN,53.96367,NaN
1,Longitude,NaN,-2.125447,NaN,-2.095348,NaN,-2.091664,NaN,-2.106472,NaN,...,-0.147115,NaN,-2.518731,NaN,-1.315556,NaN,-3.053129,NaN,-1.08469,NaN
2,Site Type,NaN,Urban Traffic,NaN,Urban Traffic,NaN,Urban Traffic,NaN,Urban Traffic,NaN,...,Unknown,NaN,Urban Traffic,NaN,Urban Traffic,NaN,Urban Industrial,NaN,Urban Traffic,NaN
3,Zone,NaN,North East Scotland,NaN,North East Scotland,NaN,North East Scotland,NaN,North East Scotland,NaN,...,Greater London,NaN,North West & Merseyside,NaN,South East,NaN,North Wales,NaN,Yorkshire & Humberside,NaN
4,Agglomeration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Greater London Urban Area,NaN,Greater Manchester Urban Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Restructuring the DataFrame

The columns and rows need to be switched (transpose()) and then the header needs to be set to row 0.  This row will then need to be removed from the DataFrame now that it is being used as the header

In [3]:
sites_df = sites_df.transpose()
sites_df.columns = sites_df.iloc[0]
sites_df = sites_df[1:]

In [4]:
sites_df.head()

Site Name,Latitude,Longitude,Site Type,Zone,Agglomeration,Local Authority
Unnamed: 1,NaN,NaN,NaN,NaN,NaN,NaN
Aberdeen Anderson Dr,57.128567,-2.125447,Urban Traffic,North East Scotland,NaN,Aberdeen
Unnamed: 3,NaN,NaN,NaN,NaN,NaN,NaN
Aberdeen King Street,57.169738,-2.095348,Urban Traffic,North East Scotland,NaN,Aberdeen
Unnamed: 5,NaN,NaN,NaN,NaN,NaN,NaN

## Remove rows where index includes 'Unnamed'

Selecting every other row in order to exclude the 'unnamed' rows resulting from the CSV formatting and then setting the index to 'index' (where Site Names are currently stored)

In [5]:
sites_df.reset_index(inplace=True)

sites_df = sites_df[sites_df.index % 2 != 0]

sites_df.set_index('index', inplace=True)
sites_df.index.name = None

In [6]:
sites_df.head()

Site Name,Latitude,Longitude,Site Type,Zone,Agglomeration,Local Authority
Aberdeen Anderson Dr,57.128567,-2.125447,Urban Traffic,North East Scotland,NaN,Aberdeen
Aberdeen King Street,57.169738,-2.095348,Urban Traffic,North East Scotland,NaN,Aberdeen
Aberdeen Market Street 2,57.141922,-2.091664,Urban Traffic,North East Scotland,NaN,Aberdeen
Aberdeen Union Street Roadside,57.144555,-2.106472,Urban Traffic,North East Scotland,NaN,Aberdeen
Aberdeen Wellington Road,57.134195,-2.093968,Urban Traffic,North East Scotland,NaN,Aberdeen

In [7]:
sites_df.shape

(187, 6)

# Reading the PM2.5 data from the CSV

In [8]:
pm_df = pd.read_csv('01012016_31072024.csv', header=10)

pm_df.head()

C:\Users\charl\AppData\Local\Temp\ipykernel_24044\2238170133.py:1: DtypeWarning: Columns (2,3,4,5,6,8,10,11,12,13,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,32,34,35,36,37,38,39,42,43,44,45,46,50,51,52,53,54,55,56,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,124,125,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,170,172,174,175,176,177,178,179,180,182,183,184,185,186,187,188,189,190,192,194,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,246,247,248,249,250,251,254,255,256,257,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,314,315,316,317,318,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,336,337,338,339,340,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373) have mixed types. Specify dtype option on import or set low_memory=False.
  pm_df = pd.read_csv('01012016_31072024.csv', header=10)

,Date,Time,PM2.5 particulate matter (Hourly measured),Status,PM2.5 particulate matter (Hourly measured).1,Status.1,PM2.5 particulate matter (Hourly measured).2,Status.2,PM2.5 particulate matter (Hourly measured).3,Status.3,...,PM2.5 particulate matter (Hourly measured).182,Status.182,PM2.5 particulate matter (Hourly measured).183,Status.183,PM2.5 particulate matter (Hourly measured).184,Status.184,PM2.5 particulate matter (Hourly measured).185,Status.185,PM2.5 particulate matter (Hourly measured).186,Status.186
0,01/01/2016,01:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),13.3,V ugm-3 (TEOM FDMS),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,V ugm-3 (TEOM)
1,01/01/2016,02:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),14.8,V ugm-3 (TEOM FDMS),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,V ugm-3 (TEOM)
2,01/01/2016,03:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),6.3,V ugm-3 (TEOM FDMS),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,V ugm-3 (TEOM)
3,01/01/2016,04:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),6,V ugm-3 (TEOM FDMS),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,V ugm-3 (TEOM)
4,01/01/2016,05:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),5.3,V ugm-3 (TEOM FDMS),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,V ugm-3 (TEOM)

In [9]:
pm_df.shape

(75244, 376)

## Converting the Date and Time columns to a DateTime dtype

Before we convert the Date and Time columns to DateTime dtype, we need to replace any instances of time equal to 24:00:00 and set them equal to 00:00:00 instead (datetime does not support 24:00:00).  We then need to add 1 to the Date column to reflect this change.

## Converting 24:00:00 to 00:00:00 in the Time column

In [10]:
def time_formatting(x):
    if x == '24:00:00':
        return '00:00:00'
    else:
        return x

pm_df['Time'] = pm_df['Time'].apply(time_formatting)

## Creating a new column which concatenates the Date and Time values as a String

In [11]:
Date_and_Time = pm_df['Date'] + ' ' + pm_df['Time']  

pm_df.insert(loc=0, column='Date_and_Time', value=Date_and_Time)

In [12]:
pm_df.head()

,Date_and_Time,Date,Time,PM2.5 particulate matter (Hourly measured),Status,PM2.5 particulate matter (Hourly measured).1,Status.1,PM2.5 particulate matter (Hourly measured).2,Status.2,PM2.5 particulate matter (Hourly measured).3,...,PM2.5 particulate matter (Hourly measured).182,Status.182,PM2.5 particulate matter (Hourly measured).183,Status.183,PM2.5 particulate matter (Hourly measured).184,Status.184,PM2.5 particulate matter (Hourly measured).185,Status.185,PM2.5 particulate matter (Hourly measured).186,Status.186
0,01/01/2016 01:00:00,01/01/2016,01:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),13.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,V ugm-3 (TEOM)
1,01/01/2016 02:00:00,01/01/2016,02:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),14.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,V ugm-3 (TEOM)
2,01/01/2016 03:00:00,01/01/2016,03:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),6.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,V ugm-3 (TEOM)
3,01/01/2016 04:00:00,01/01/2016,04:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,V ugm-3 (TEOM)
4,01/01/2016 05:00:00,01/01/2016,05:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),5.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,V ugm-3 (TEOM)

## Changing the Date_and_Time column to a DateTime dtype

In [13]:
import datetime


pm_df['Date_and_Time'] = pd.to_datetime(pm_df['Date_and_Time'], format='%d/%m/%Y %H:%M:%S')

pm_df.head()

,Date_and_Time,Date,Time,PM2.5 particulate matter (Hourly measured),Status,PM2.5 particulate matter (Hourly measured).1,Status.1,PM2.5 particulate matter (Hourly measured).2,Status.2,PM2.5 particulate matter (Hourly measured).3,...,PM2.5 particulate matter (Hourly measured).182,Status.182,PM2.5 particulate matter (Hourly measured).183,Status.183,PM2.5 particulate matter (Hourly measured).184,Status.184,PM2.5 particulate matter (Hourly measured).185,Status.185,PM2.5 particulate matter (Hourly measured).186,Status.186
0,2016-01-01 01:00:00,01/01/2016,01:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),13.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,V ugm-3 (TEOM)
1,2016-01-01 02:00:00,01/01/2016,02:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),14.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,V ugm-3 (TEOM)
2,2016-01-01 03:00:00,01/01/2016,03:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),6.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,V ugm-3 (TEOM)
3,2016-01-01 04:00:00,01/01/2016,04:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,V ugm-3 (TEOM)
4,2016-01-01 05:00:00,01/01/2016,05:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),5.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,V ugm-3 (TEOM)

## Adding one day to the Date_and_Time column where Time is equal to 00:00:00

NOTE: This change can be seen on row indexed 23

In [14]:
pm_df['Date_and_Time'] = pm_df['Date_and_Time'].where(pm_df['Time'].ne('00:00:00'), pm_df['Date_and_Time'] + datetime.timedelta(days=1))

In [15]:
pm_df.head(25)

,Date_and_Time,Date,Time,PM2.5 particulate matter (Hourly measured),Status,PM2.5 particulate matter (Hourly measured).1,Status.1,PM2.5 particulate matter (Hourly measured).2,Status.2,PM2.5 particulate matter (Hourly measured).3,...,PM2.5 particulate matter (Hourly measured).182,Status.182,PM2.5 particulate matter (Hourly measured).183,Status.183,PM2.5 particulate matter (Hourly measured).184,Status.184,PM2.5 particulate matter (Hourly measured).185,Status.185,PM2.5 particulate matter (Hourly measured).186,Status.186
0,2016-01-01 01:00:00,01/01/2016,01:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),13.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,V ugm-3 (TEOM)
1,2016-01-01 02:00:00,01/01/2016,02:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),14.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,V ugm-3 (TEOM)
2,2016-01-01 03:00:00,01/01/2016,03:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),6.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,V ugm-3 (TEOM)
3,2016-01-01 04:00:00,01/01/2016,04:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,V ugm-3 (TEOM)
4,2016-01-01 05:00:00,01/01/2016,05:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),5.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,V ugm-3 (TEOM)
5,2016-01-01 06:00:00,01/01/2016,06:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),3.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,V ugm-3 (TEOM)
6,2016-01-01 07:00:00,01/01/2016,07:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),3.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,V ugm-3 (TEOM)
7,2016-01-01 08:00:00,01/01/2016,08:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,V ugm-3 (TEOM)
8,2016-01-01 09:00:00,01/01/2016,09:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,V ugm-3 (TEOM)
9,2016-01-01 10:00:00,01/01/2016,10:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,V ugm-3 (TEOM)
10,2016-01-01 11:00:00,01/01/2016,11:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,V ugm-3 (TEOM)
11,2016-01-01 12:00:00,01/01/2016,12:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),2.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,V ugm-3 (TEOM)
12,2016-01-01 13:00:00,01/01/2016,13:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,V ugm-3 (TEOM)
13,2016-01-01 14:00:00,01/01/2016,14:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,V ugm-3 (TEOM)
14,2016-01-01 15:00:00,01/01/2016,15:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),3.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,V ugm-3 (TEOM)
15,2016-01-01 16:00:00,01/01/2016,16:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,V ugm-3 (TEOM)
16,2016-01-01 17:00:00,01/01/2016,17:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,V ugm-3 (TEOM)
17,2016-01-01 18:00:00,01/01/2016,18:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),3.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,V ugm-3 (TEOM)
18,2016-01-01 19:00:00,01/01/2016,19:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,V ugm-3 (TEOM)
19,2016-01-01 20:00:00,01/01/2016,20:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),7.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,V ugm-3 (TEOM)
20,2016-01-01 21:00:00,01/01/2016,21:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),6.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,V ugm-3 (TEOM)
21,2016-01-01 22:00:00,01/01/2016,22:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),4.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,V ugm-3 (TEOM)
22,2016-01-01 23:00:00,01/01/2016,23:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),4.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,V ugm-3 (TEOM)
23,2016-01-02 00:00:00,01/01/2016,00:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,V ugm-3 (TEOM)
24,2016-01-02 01:00:00,02/01/2016,01:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,V ugm-3 (TEOM)

## Removing the original Date and Time columns now they are no longer needed and making the new Date_and_Time column the index

In [16]:
pm_df = pm_df.drop(['Date', 'Time'], axis=1)

pm_df.set_index('Date_and_Time', inplace=True)

In [17]:
pm_df.head()

,PM2.5 particulate matter (Hourly measured),Status,PM2.5 particulate matter (Hourly measured).1,Status.1,PM2.5 particulate matter (Hourly measured).2,Status.2,PM2.5 particulate matter (Hourly measured).3,Status.3,PM2.5 particulate matter (Hourly measured).4,Status.4,...,PM2.5 particulate matter (Hourly measured).182,Status.182,PM2.5 particulate matter (Hourly measured).183,Status.183,PM2.5 particulate matter (Hourly measured).184,Status.184,PM2.5 particulate matter (Hourly measured).185,Status.185,PM2.5 particulate matter (Hourly measured).186,Status.186
Date_and_Time,,,,,,,,,,,,,,,,,,,,,
2016-01-01 01:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),13.3,V ugm-3 (TEOM FDMS),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,V ugm-3 (TEOM)
2016-01-01 02:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),14.8,V ugm-3 (TEOM FDMS),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,V ugm-3 (TEOM)
2016-01-01 03:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),6.3,V ugm-3 (TEOM FDMS),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,V ugm-3 (TEOM)
2016-01-01 04:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),6,V ugm-3 (TEOM FDMS),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,V ugm-3 (TEOM)
2016-01-01 05:00:00,No data,NaN,NaN,NaN,No data,V ugm-3 (Ref.eq),5.3,V ugm-3 (TEOM FDMS),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,V ugm-3 (TEOM)

# Finding all the unique status codes given in the DataFrame

We need to find all the different status codes used in the DataFrame so that we can identify which values/PM2.5 readings to include in analysis

## Selecting columns where the name contains 'Status'

We can create a new DataFrame containing just the status data

In [18]:
status_cols = [col for col in pm_df.columns if 'Status' in col]

status_df = pm_df[status_cols]

## Using stack() and unique() to find unique values irrespective of location within the DataFrame

In [19]:
status_df_stacked = status_df.stack()

unique_Vals = status_df_stacked.unique()

unique_Vals

array(['V ugm-3 (Ref.eq)', 'V ugm-3 (TEOM FDMS)', 'V ugm-3 (Osiris)',
       'V ugm-3', 'V ugm-3 (BAM)', 'N ugm-3 (Osiris)', 'N ugm-3',
       'V ugm-3 (TEOM)', 'N ugm-3 (TEOM)', 'N ugm-3 (BAM)',
       'N ugm-3 (TEOM FDMS)', 'N ugm-3 (Ref.eq)'], dtype=object)

I have then copied and pasted the codes that indicate a valid reading (as of the DEFRA documentation) and created a list of accepted status codes.  This will be used later to check the validity of the PM2.5 readings.

In [20]:
accepted_status = ['V ugm-3 (Ref.eq)', 
                   'V ugm-3 (TEOM FDMS)', 
                   'V ugm-3 (Osiris)', 
                   'V ugm-3', 
                   'V ugm-3 (BAM)', 
                   'V ugm-3 (TEOM)']

## Find all readings that have a status of N and 'remove' them from the DataFrame/set them equal to NaN etc

Any readings that have a status code not included in the list of accepted statuses need to be identified, and their reading should be removed so that only valid readings remain for analysis.

### Switch columns and header

Transposing the dataframe so that I can assign Site Names to the readings and status codes.

In [21]:
pm_df = pm_df.transpose()

pm_df.head()

Date_and_Time,2016-01-01 01:00:00,2016-01-01 02:00:00,2016-01-01 03:00:00,2016-01-01 04:00:00,2016-01-01 05:00:00,2016-01-01 06:00:00,2016-01-01 07:00:00,2016-01-01 08:00:00,2016-01-01 09:00:00,2016-01-01 10:00:00,...,2024-07-31 19:00:00,2024-07-31 20:00:00,2024-07-31 21:00:00,2024-07-31 22:00:00,2024-07-31 23:00:00,2024-08-01 00:00:00,NaT,NaT,NaT,NaT
PM2.5 particulate matter (Hourly measured),No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,...,4.4,4.2,4.3,4.3,4.9,4.4,NaN,NaN,NaN,NaN
Status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),NaN,NaN,NaN,NaN
PM2.5 particulate matter (Hourly measured).1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.6,5.3,5.9,5.9,5.4,5.6,NaN,NaN,NaN,NaN
Status.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),NaN,NaN,NaN,NaN
PM2.5 particulate matter (Hourly measured).2,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,...,5.4,4.7,4.9,4.9,4.9,5.5,NaN,NaN,NaN,NaN

## Assign site name/type etc to PM2.5 readings and the statuses (in the pm_df) using sites_df

In [22]:
sites_df.head(10)

Site Name,Latitude,Longitude,Site Type,Zone,Agglomeration,Local Authority
Aberdeen Anderson Dr,57.128567,-2.125447,Urban Traffic,North East Scotland,NaN,Aberdeen
Aberdeen King Street,57.169738,-2.095348,Urban Traffic,North East Scotland,NaN,Aberdeen
Aberdeen Market Street 2,57.141922,-2.091664,Urban Traffic,North East Scotland,NaN,Aberdeen
Aberdeen Union Street Roadside,57.144555,-2.106472,Urban Traffic,North East Scotland,NaN,Aberdeen
Aberdeen Wellington Road,57.134195,-2.093968,Urban Traffic,North East Scotland,NaN,Aberdeen
Alloa A907,56.117343,-3.791818,Urban Traffic,North East Scotland,NaN,Clackmannanshire
Amvale Osiris,53.5679,-0.6223,Unknown,Yorkshire & Humberside,NaN,N Lincolnshire
Anglesey Brynteg,53.307155,-4.274216,Rural Industrial,North Wales,NaN,Anglesey
Anglesey Felin Cafnan,53.410479,-4.493642,Rural Background,North Wales,NaN,Anglesey
Anglesey Llynfaes,53.290642,-4.406563,Rural Industrial,North Wales,NaN,Anglesey

## Create a list of all site names and insert each site twice into the list

This accounts for both the PM2.5 reading and the status of that reading (two rows) for each site

In [23]:
sites = sites_df.index.tolist()
site_names = []

for name in sites:
    site_names.append(name)
    site_names.append(name)

site_names

['Aberdeen Anderson Dr',
 'Aberdeen Anderson Dr',
 'Aberdeen King Street',
 'Aberdeen King Street',
 'Aberdeen Market Street 2',
 'Aberdeen Market Street 2',
 'Aberdeen Union Street Roadside',
 'Aberdeen Union Street Roadside',
 'Aberdeen Wellington Road',
 'Aberdeen Wellington Road',
 'Alloa A907',
 'Alloa A907',
 'Amvale Osiris',
 'Amvale Osiris',
 'Anglesey Brynteg',
 'Anglesey Brynteg',
 'Anglesey Felin Cafnan',
 'Anglesey Felin Cafnan',
 'Anglesey Llynfaes',
 'Anglesey Llynfaes',
 'Anglesey Penhesgyn 2',
 'Anglesey Penhesgyn 2',
 'Anglesey Penhesgyn 3',
 'Anglesey Penhesgyn 3',
 'Angus Forfar Glamis Rd',
 'Angus Forfar Glamis Rd',
 'Ballymena Ballykeel',
 'Ballymena Ballykeel',
 'Bexley - Belvedere',
 'Bexley - Belvedere',
 'Bexley - Belvedere West',
 'Bexley - Belvedere West',
 'Bexley - Thamesmead',
 'Bexley - Thamesmead',
 'Birmingham Airport 2',
 'Birmingham Airport 2',
 'Bolton A579 Derby Street',
 'Bolton A579 Derby Street',
 'Caerphilly Fochriw',
 'Caerphilly Fochriw',
 'Calne, New Road 2',
 'Calne, New Road 2',
 'Cambridge Gonville Place',
 'Cambridge Gonville Place',
 'Cambridge Newmarket Road',
 'Cambridge Newmarket Road',
 'Camden - Euston Road',
 'Camden - Euston Road',
 'Cardiff Castle Street',
 'Cardiff Castle Street',
 'Cheshire West & Chester - Helsby',
 'Cheshire West & Chester - Helsby',
 'Crawley - Gatwick Airport',
 'Crawley - Gatwick Airport',
 'Dacorum Northchurch High Street',
 'Dacorum Northchurch High Street',
 'Dundee Broughty Ferry Road',
 'Dundee Broughty Ferry Road',
 'Dundee Lochee Road',
 'Dundee Lochee Road',
 'Dundee Mains Loan',
 'Dundee Mains Loan',
 'Dundee Meadowside',
 'Dundee Meadowside',
 'Dundee Seagate',
 'Dundee Seagate',
 'Dundee Whitehall Street',
 'Dundee Whitehall Street',
 'E Ayrshire Kilmarnock St Marnock St',
 'E Ayrshire Kilmarnock St Marnock St',
 'Ealing - Southall FDMS',
 'Ealing - Southall FDMS',
 'Ealing Green Quarter',
 'Ealing Green Quarter',
 'East Dunbartonshire Bearsden',
 'East Dunbartonshire Bearsden',
 'East Dunbartonshire Bishopbriggs',
 'East Dunbartonshire Bishopbriggs',
 'East Dunbartonshire Kirkintilloch',
 'East Dunbartonshire Kirkintilloch',
 'East Dunbartonshire Milngavie ',
 'East Dunbartonshire Milngavie ',
 'East Herts Hertford Gascoyne Way',
 'East Herts Hertford Gascoyne Way',
 'Edinburgh Currie',
 'Edinburgh Currie',
 'Edinburgh Glasgow Road',
 'Edinburgh Glasgow Road',
 'Edinburgh Nicolson Street',
 'Edinburgh Nicolson Street',
 'Edinburgh Queensferry Road',
 'Edinburgh Queensferry Road',
 'Edinburgh Salamander St',
 'Edinburgh Salamander St',
 "Edinburgh St John's Road",
 "Edinburgh St John's Road",
 'Edinburgh Tower Street',
 'Edinburgh Tower Street',
 'Falkirk Banknock',
 'Falkirk Banknock',
 'Falkirk Grangemouth MC',
 'Falkirk Grangemouth MC',
 'Falkirk Grangemouth Zetland Park',
 'Falkirk Grangemouth Zetland Park',
 'Falkirk Haggs',
 'Falkirk Haggs',
 'Falkirk Hope St',
 'Falkirk Hope St',
 'Falkirk Main St Bainsford',
 'Falkirk Main St Bainsford',
 'Falkirk West Bridge Street',
 'Falkirk West Bridge Street',
 'Fife Cupar',
 'Fife Cupar',
 'Fife Dunfermline',
 'Fife Dunfermline',
 'Fife Kirkcaldy',
 'Fife Kirkcaldy',
 'Fife Rosyth',
 'Fife Rosyth',
 'Gateshead A1 Dunston',
 'Gateshead A1 Dunston',
 'Gateshead Angel of the North',
 'Gateshead Angel of the North',
 'Gateshead Lychgate Court',
 'Gateshead Lychgate Court',
 'Gateshead Tyne Bridge',
 'Gateshead Tyne Bridge',
 'Glasgow Anderston',
 'Glasgow Anderston',
 'Glasgow Broomhill',
 'Glasgow Broomhill',
 'Glasgow Byres Road',
 'Glasgow Byres Road',
 'Glasgow Dumbarton Road',
 'Glasgow Dumbarton Road',
 'Glasgow Nithsdale Road',
 'Glasgow Nithsdale Road',
 'Glasgow Waulkmillglen Reservoir',
 'Glasgow Waulkmillglen Reservoir',
 'Great Yarmouth South Denes',
 'Great Yarmouth South Denes',
 'Greenwich - A206 Burrage Grove',
 'Greenwich - A206 Burrage Grove',
 'Greenwich - Falconwood FDMS',
 'Greenwich - Falconwood FDMS',
 'Greenwich - John Harrison Way',
 'Greenwich - John Harrison Way',
 'Greenwich - Millennium Village',
 'Greenwich - Millennium Village',
 'Greenwich - Plumstead High Street',
 'Greenwich - Plumstead High Street',
 'Greenwich - Westhorne Avenue',
 'Greenwich - Westhorne Avenue',
 'Greenwich - Woolwich Flyover',
 'Greenwich - Woolwich Flyover',
 'H&F Hammersmith Town Centre',
 'H&F Hammersmith Town Centre',
 'Hackney - Old Street',
 'Hackney - Old Street',
 'Haringey Wood Green',
 'Haringey Wood Green',
 'Havering - Rainham',
 'Havering - Rainham',
 'Heathrow Bath Road',
 'Heathrow Bath Road',
 'Heathrow Green Gates',
 'Heathrow Green Gates',
 'Heathrow LHR2',
 'Heathrow LHR2',
 'Heathrow Oaks Road',
 'Heathrow Oaks Road',
 'Hertsmere Borehamwood Background',
 'Hertsmere Borehamwood Background',
 'Hertsmere Borehamwood Bowling Club',
 'Hertsmere Borehamwood Bowling Club',
 'Hertsmere Borehamwood Roadside',
 'Hertsmere Borehamwood Roadside',
 'Hillingdon Harmondsworth Osiris',
 'Hillingdon Harmondsworth Osiris',
 'Hitchin Stevenage Road Particulates',
 'Hitchin Stevenage Road Particulates',
 'Hounslow Brentford',
 'Hounslow Brentford',
 'Hounslow Chiswick',
 'Hounslow Chiswick',
 'Huntingdon Pathfinder House',
 'Huntingdon Pathfinder House',
 'Inverclyde Greenock A8',
 'Inverclyde Greenock A8',
 "King's Lynn Estuary Close",
 "King's Lynn Estuary Close",
 "King's Lynn Page Stair Lane",
 "King's Lynn Page Stair Lane",
 "King's Lynn Stoke Ferry Buckenham Drive",
 "King's Lynn Stoke Ferry Buckenham Drive",
 "King's Lynn Stoke Ferry Furlong Road",
 "King's Lynn Stoke Ferry Furlong Road",
 "King's Lynn Stoke Ferry Wretton Road",
 "King's Lynn Stoke Ferry Wretton Road",
 'Lancaster Cable Street',
 'Lancaster Cable Street',
 'Lewisham - Deptford',
 'Lewisham - Deptford',
 'Lewisham - New Cross',
 'Lewisham - New Cross',
 'Lisburn Dunmurry Seymour Hill',
 'Lisburn Dunmurry Seymour Hill',
 'Luton Airport FutureLuToN',
 'Luton Airport FutureLuToN',
 'Luton Dunstable Road East',
 'Luton Dunstable Road East',
 'Maidstone Upper Stone Street',
 'Maidstone Upper Stone Street',
 'Manchester Sharston',
 'Manchester Sharston',
 'Marlborough London Road',
 'Marlborough London Road',
 'Marlborough London Road 2',
 'Marlborough London Road 2',
 'N Lanarkshire Chapelhall',
 'N Lanarkshire Chapelhall',
 'N Lanarkshire Coatbridge Whifflet',
 'N Lanarkshire Coatbridge Whifflet',
 'N Lanarkshire Coatbridge Whifflet A725',
 'N Lanarkshire Coatbridge Whifflet A725',
 'N Lanarkshire Croy',
 'N Lanarkshire Croy',
 'N Lanarkshire Kirkshaws',
 'N Lanarkshire Kirkshaws',
 'N Lanarkshire Motherwell',
 'N Lanarkshire Motherwell',
 'N Lanarkshire Motherwell Adele St.',
 'N Lanarkshire Motherwell Adele St.',
 'N Lanarkshire Motherwell Civic Centre',
 'N Lanarkshire Motherwell Civic Centre',
 'N Lanarkshire Shawhead Coatbridge',
 'N Lanarkshire Shawhead Coatbridge',
 'Newham Cam Road',
 'Newham Cam Road',
 'Newham Wren Close',
 'Newham Wren Close',
 'North Ayrshire Irvine High St',
 'North Ayrshire Irvine High St',
 'North Down Holywood A2',
 'North Down Holywood A2',
 'North Lincs Killingholme East Halton Road',
 'North Lincs Killingholme East Halton Road',
 'North Lincs Santon Dawes Lane',
 'North Lincs Santon Dawes Lane',
 'North Lincs South Ferriby',
 'North Lincs South Ferriby',
 'North Lincs Tarmac',
 'North Lincs Tarmac',
 'North Tyneside Coast Road',
 'North Tyneside Coast Road',
 'Norwich Castle Meadow',
 'Norwich Castle Meadow',
 'Paisley Gordon Street',
 'Paisley Gordon Street',
 'Paisley St James St',
 'Paisley St James St',
 'Perth Atholl Street',
 'Perth Atholl Street',
 'Perth Bridgend',
 'Perth Bridgend',
 'Perth Crieff',
 'Perth Crieff',
 'Perth High Street',
 'Perth High Street',
 'Perth Muirton',
 'Perth Muirton',
 'Plymouth Moor Lane',
 'Plymouth Moor Lane',
 'Port Talbot Prince Street 2',
 'Port Talbot Prince Street 2',
 'RBKC Cromwell Rd',
 'RBKC Cromwell Rd',
 'Redcar Dormanstown',
 'Redcar Dormanstown',
 'Renfrewshire Johnston',
 'Renfrewshire Johnston',
 'Rochdale Queensway',
 'Rochdale Queensway',
 'S Cambs Orchard Park School 2',
 'S Cambs Orchard Park School 2',
 'Salford M60',
 'Salford M60',
 'Scunthorpe East Common Lane Osiris',
 'Scunthorpe East Common Lane Osiris',
 'Slough Colnbrook Osiris',
 'Slough Colnbrook Osiris',
 'Slough Lakeside 1 Osiris',
 'Slough Lakeside 1 Osiris',
 'Slough Lakeside 2 Osiris',
 'Slough Lakeside 2 Osiris',
 'South Ayrshire Ayr Harbour',
 'South Ayrshire Ayr Harbour',
 'South Ayrshire Ayr High St',
 'South Ayrshire Ayr High St',
 'South Cambs Girton Rd',
 'South Cambs Girton Rd',
 'South Lanarkshire Blantyre',
 'South Lanarkshire Blantyre',
 'South Lanarkshire Cambuslang',
 'South Lanarkshire Cambuslang',
 'South Lanarkshire East Kilbride',
 'South Lanarkshire East Kilbride',
 'South Lanarkshire Hamilton',
 'South Lanarkshire Hamilton',
 'South Lanarkshire Lanark',
 'South Lanarkshire Lanark',
 'South Lanarkshire Raith Interchange 2',
 'South Lanarkshire Raith Interchange 2',
 'South Lanarkshire Rutherglen',
 'South Lanarkshire Rutherglen',
 'South Lanarkshire Uddingston',
 'South Lanarkshire Uddingston',
 'Southend Bell Junction',
 'Southend Bell Junction',
 'Spelthorne Sunbury Cross',
 'Spelthorne Sunbury Cross',
 'Stevenage Lytton Way',
 'Stevenage Lytton Way',
 'Stevenage St Georges Way',
 'Stevenage St Georges Way',
 "Stirling Craig's Roundabout",
 "Stirling Craig's Roundabout",
 'Swale Newington 4',
 'Swale Newington 4',
 'Swale St Pauls Street',
 'Swale St Pauls Street',
 'Swansea Morriston Roadside',
 'Swansea Morriston Roadside',
 'Swansea Port Tennant Roadside',
 'Swansea Port Tennant Roadside',
 'Tameside A635 Manchester Road',
 'Tameside A635 Manchester Road',
 'Tower Hamlets - Blackwall',
 'Tower Hamlets - Blackwall',
 'Tower Hamlets - Roadside',
 'Tower Hamlets - Roadside',
 'Tower Hamlets - Victoria Park',
 'Tower Hamlets - Victoria Park',
 'Twynyrodyn',
 'Twynyrodyn',
 'Wakefield City - Park Street',
 'Wakefield City - Park Street',
 'Waltham Forest Dawlish Rd',
 'Waltham Forest Dawlish Rd',
 'Watford Town Hall',
 'Watford Town Hall',
 'Welwyn Hatfield',
 'Welwyn Hatfield',
 'West Dunbartonshire Clydebank',
 'West Dunbartonshire Clydebank',
 'West Lothian Broxburn',
 'West Lothian Broxburn',
 'West Lothian Linlithgow High Street 2',
 'West Lothian Linlithgow High Street 2',
 'West Lothian Newton',
 'West Lothian Newton',
 'Westbury, Slag Lane',
 'Westbury, Slag Lane',
 'Westminster - Elizabeth Bridge',
 'Westminster - Elizabeth Bridge',
 'Wigan Leigh 3',
 'Wigan Leigh 3',
 'Winchester St Georges Street',
 'Winchester St Georges Street',
 'Wrexham Chirk',
 'Wrexham Chirk',
 'York Gillygate',
 'York Gillygate']

## Inserting the site_names into the pm_df

Using len and shape to confirm that the list is the same length as the number of rows in the dataframe

In [24]:
len(site_names)

374

In [25]:
pm_df.shape

(374, 75244)

In [26]:
pm_df.insert(loc=0, column='Site Name', value=site_names)

In [27]:
pm_df.head()

Date_and_Time,Site Name,2016-01-01 01:00:00,2016-01-01 02:00:00,2016-01-01 03:00:00,2016-01-01 04:00:00,2016-01-01 05:00:00,2016-01-01 06:00:00,2016-01-01 07:00:00,2016-01-01 08:00:00,2016-01-01 09:00:00,...,2024-07-31 19:00:00,2024-07-31 20:00:00,2024-07-31 21:00:00,2024-07-31 22:00:00,2024-07-31 23:00:00,2024-08-01 00:00:00,NaT,NaT,NaT,NaT
PM2.5 particulate matter (Hourly measured),Aberdeen Anderson Dr,No data,No data,No data,No data,No data,No data,No data,No data,No data,...,4.4,4.2,4.3,4.3,4.9,4.4,NaN,NaN,NaN,NaN
Status,Aberdeen Anderson Dr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),NaN,NaN,NaN,NaN
PM2.5 particulate matter (Hourly measured).1,Aberdeen King Street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.6,5.3,5.9,5.9,5.4,5.6,NaN,NaN,NaN,NaN
Status.1,Aberdeen King Street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),NaN,NaN,NaN,NaN
PM2.5 particulate matter (Hourly measured).2,Aberdeen Market Street 2,No data,No data,No data,No data,No data,No data,No data,No data,No data,...,5.4,4.7,4.9,4.9,4.9,5.5,NaN,NaN,NaN,NaN

You can see that the site name is now present for each of its corresponding rows (reading value and reading status)

# Using the groupby function to create two slices/views of the dataframe

Using groupby Site Name, we can create two views of the dataframe, one containing only the reading values, and another containing only the statuses of those readings.

Each reading will have its value and status at the same location in both views.

In [28]:
pm_df.head()

Date_and_Time,Site Name,2016-01-01 01:00:00,2016-01-01 02:00:00,2016-01-01 03:00:00,2016-01-01 04:00:00,2016-01-01 05:00:00,2016-01-01 06:00:00,2016-01-01 07:00:00,2016-01-01 08:00:00,2016-01-01 09:00:00,...,2024-07-31 19:00:00,2024-07-31 20:00:00,2024-07-31 21:00:00,2024-07-31 22:00:00,2024-07-31 23:00:00,2024-08-01 00:00:00,NaT,NaT,NaT,NaT
PM2.5 particulate matter (Hourly measured),Aberdeen Anderson Dr,No data,No data,No data,No data,No data,No data,No data,No data,No data,...,4.4,4.2,4.3,4.3,4.9,4.4,NaN,NaN,NaN,NaN
Status,Aberdeen Anderson Dr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),NaN,NaN,NaN,NaN
PM2.5 particulate matter (Hourly measured).1,Aberdeen King Street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.6,5.3,5.9,5.9,5.4,5.6,NaN,NaN,NaN,NaN
Status.1,Aberdeen King Street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),NaN,NaN,NaN,NaN
PM2.5 particulate matter (Hourly measured).2,Aberdeen Market Street 2,No data,No data,No data,No data,No data,No data,No data,No data,No data,...,5.4,4.7,4.9,4.9,4.9,5.5,NaN,NaN,NaN,NaN

In [29]:
g = pm_df.groupby('Site Name')

read_status = g.nth(1)
values = g.nth(0)

In [30]:
read_status

Date_and_Time,Site Name,2016-01-01 01:00:00,2016-01-01 02:00:00,2016-01-01 03:00:00,2016-01-01 04:00:00,2016-01-01 05:00:00,2016-01-01 06:00:00,2016-01-01 07:00:00,2016-01-01 08:00:00,2016-01-01 09:00:00,...,2024-07-31 19:00:00,2024-07-31 20:00:00,2024-07-31 21:00:00,2024-07-31 22:00:00,2024-07-31 23:00:00,2024-08-01 00:00:00,NaT,NaT,NaT,NaT
Status,Aberdeen Anderson Dr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),NaN,NaN,NaN,NaN
Status.1,Aberdeen King Street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),NaN,NaN,NaN,NaN
Status.2,Aberdeen Market Street 2,V ugm-3 (Ref.eq),V ugm-3 (Ref.eq),V ugm-3 (Ref.eq),V ugm-3 (Ref.eq),V ugm-3 (Ref.eq),V ugm-3 (Ref.eq),V ugm-3 (Ref.eq),V ugm-3 (Ref.eq),V ugm-3 (Ref.eq),...,N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),NaN,NaN,NaN,NaN
Status.3,Aberdeen Union Street Roadside,V ugm-3 (TEOM FDMS),V ugm-3 (TEOM FDMS),V ugm-3 (TEOM FDMS),V ugm-3 (TEOM FDMS),V ugm-3 (TEOM FDMS),V ugm-3 (TEOM FDMS),V ugm-3 (TEOM FDMS),V ugm-3 (TEOM FDMS),V ugm-3 (TEOM FDMS),...,N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),NaN,NaN,NaN,NaN
Status.4,Aberdeen Wellington Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),N ugm-3 (Ref.eq),NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Status.182,Westminster - Elizabeth Bridge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Status.183,Wigan Leigh 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,N ugm-3 (BAM),N ugm-3 (BAM),N ugm-3 (BAM),N ugm-3 (BAM),N ugm-3 (BAM),N ugm-3 (BAM),NaN,NaN,NaN,NaN
Status.184,Winchester St Georges Street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,N ugm-3,N ugm-3,N ugm-3,N ugm-3,N ugm-3,N ugm-3,NaN,NaN,NaN,NaN
Status.185,Wrexham Chirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,N ugm-3 (Osiris),N ugm-3 (Osiris),N ugm-3 (Osiris),N ugm-3 (Osiris),N ugm-3 (Osiris),N ugm-3 (Osiris),NaN,NaN,NaN,NaN
Status.186,York Gillygate,V ugm-3 (TEOM),V ugm-3 (TEOM),V ugm-3 (TEOM),V ugm-3 (TEOM),V ugm-3 (TEOM),V ugm-3 (TEOM),V ugm-3 (TEOM),V ugm-3 (TEOM),V ugm-3 (TEOM),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
values

Date_and_Time,Site Name,2016-01-01 01:00:00,2016-01-01 02:00:00,2016-01-01 03:00:00,2016-01-01 04:00:00,2016-01-01 05:00:00,2016-01-01 06:00:00,2016-01-01 07:00:00,2016-01-01 08:00:00,2016-01-01 09:00:00,...,2024-07-31 19:00:00,2024-07-31 20:00:00,2024-07-31 21:00:00,2024-07-31 22:00:00,2024-07-31 23:00:00,2024-08-01 00:00:00,NaT,NaT,NaT,NaT
PM2.5 particulate matter (Hourly measured),Aberdeen Anderson Dr,No data,No data,No data,No data,No data,No data,No data,No data,No data,...,4.4,4.2,4.3,4.3,4.9,4.4,NaN,NaN,NaN,NaN
PM2.5 particulate matter (Hourly measured).1,Aberdeen King Street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.6,5.3,5.9,5.9,5.4,5.6,NaN,NaN,NaN,NaN
PM2.5 particulate matter (Hourly measured).2,Aberdeen Market Street 2,No data,No data,No data,No data,No data,No data,No data,No data,No data,...,5.4,4.7,4.9,4.9,4.9,5.5,NaN,NaN,NaN,NaN
PM2.5 particulate matter (Hourly measured).3,Aberdeen Union Street Roadside,13.3,14.8,6.3,6,5.3,3.3,3.8,3.5,4,...,6.2,5.6,6.4,5.6,5.5,5.4,NaN,NaN,NaN,NaN
PM2.5 particulate matter (Hourly measured).4,Aberdeen Wellington Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,4.8,5.1,4.8,4.7,4.7,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PM2.5 particulate matter (Hourly measured).182,Westminster - Elizabeth Bridge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PM2.5 particulate matter (Hourly measured).183,Wigan Leigh 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11,24,10,10,15,10,NaN,NaN,NaN,NaN
PM2.5 particulate matter (Hourly measured).184,Winchester St Georges Street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.0,11.6,10.7,10.1,8.9,8.6,NaN,NaN,NaN,NaN
PM2.5 particulate matter (Hourly measured).185,Wrexham Chirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,3,4,5,5,4,NaN,NaN,NaN,NaN
PM2.5 particulate matter (Hourly measured).186,York Gillygate,16,10,12,13,16,12,12,7,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Iterating through the values in each row to check

This for loop iterates through the status for each date/time, for every location.  It then checks whether the status is an accepted status code and if not, the associated value in the values dataframe is replaced with None.

In [32]:
for i in range(len(read_status)-1):
    row = read_status.iloc[i]
    for k in range(1,75244):
        cell = read_status.iloc[i,k]
        if cell not in accepted_status:
            values.iloc[i,k] = None

In [33]:
values

Date_and_Time,Site Name,2016-01-01 01:00:00,2016-01-01 02:00:00,2016-01-01 03:00:00,2016-01-01 04:00:00,2016-01-01 05:00:00,2016-01-01 06:00:00,2016-01-01 07:00:00,2016-01-01 08:00:00,2016-01-01 09:00:00,...,2024-07-31 19:00:00,2024-07-31 20:00:00,2024-07-31 21:00:00,2024-07-31 22:00:00,2024-07-31 23:00:00,2024-08-01 00:00:00,NaT,NaT,NaT,NaT
PM2.5 particulate matter (Hourly measured),Aberdeen Anderson Dr,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
PM2.5 particulate matter (Hourly measured).1,Aberdeen King Street,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
PM2.5 particulate matter (Hourly measured).2,Aberdeen Market Street 2,No data,No data,No data,No data,No data,No data,No data,No data,No data,...,None,None,None,None,None,None,None,None,None,NaN
PM2.5 particulate matter (Hourly measured).3,Aberdeen Union Street Roadside,13.3,14.8,6.3,6,5.3,3.3,3.8,3.5,4,...,None,None,None,None,None,None,None,None,None,NaN
PM2.5 particulate matter (Hourly measured).4,Aberdeen Wellington Road,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PM2.5 particulate matter (Hourly measured).182,Westminster - Elizabeth Bridge,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
PM2.5 particulate matter (Hourly measured).183,Wigan Leigh 3,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
PM2.5 particulate matter (Hourly measured).184,Winchester St Georges Street,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
PM2.5 particulate matter (Hourly measured).185,Wrexham Chirk,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
PM2.5 particulate matter (Hourly measured).186,York Gillygate,16,10,12,13,16,12,12,7,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The changes can be seen in the new values table.  Any values that previously had an unverified status have been changed to None

## Changing all NaN, None, nan etc to the same format

Setting the index to Site Name so that these are not removed when we remove non-float values

In [34]:
values.set_index('Site Name', inplace=True)

In [35]:
values

Date_and_Time,2016-01-01 01:00:00,2016-01-01 02:00:00,2016-01-01 03:00:00,2016-01-01 04:00:00,2016-01-01 05:00:00,2016-01-01 06:00:00,2016-01-01 07:00:00,2016-01-01 08:00:00,2016-01-01 09:00:00,2016-01-01 10:00:00,...,2024-07-31 19:00:00,2024-07-31 20:00:00,2024-07-31 21:00:00,2024-07-31 22:00:00,2024-07-31 23:00:00,2024-08-01 00:00:00,NaT,NaT,NaT,NaT
Site Name,,,,,,,,,,,,,,,,,,,,,
Aberdeen Anderson Dr,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
Aberdeen King Street,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
Aberdeen Market Street 2,No data,No data,No data,No data,No data,No data,No data,No data,No data,No data,...,None,None,None,None,None,None,None,None,None,NaN
Aberdeen Union Street Roadside,13.3,14.8,6.3,6,5.3,3.3,3.8,3.5,4,1.8,...,None,None,None,None,None,None,None,None,None,NaN
Aberdeen Wellington Road,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Westminster - Elizabeth Bridge,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
Wigan Leigh 3,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
Winchester St Georges Street,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
Wrexham Chirk,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
York Gillygate,16,10,12,13,16,12,12,7,7,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Using to_numeric to change all non-numeric values to NaN

errors='coerce' is used to ensure that all non-numeric values are changed to NaN

In [36]:
values_numeric = values.apply(pd.to_numeric, errors='coerce')

In [37]:
values_numeric

Date_and_Time,2016-01-01 01:00:00,2016-01-01 02:00:00,2016-01-01 03:00:00,2016-01-01 04:00:00,2016-01-01 05:00:00,2016-01-01 06:00:00,2016-01-01 07:00:00,2016-01-01 08:00:00,2016-01-01 09:00:00,2016-01-01 10:00:00,...,2024-07-31 19:00:00,2024-07-31 20:00:00,2024-07-31 21:00:00,2024-07-31 22:00:00,2024-07-31 23:00:00,2024-08-01 00:00:00,NaT,NaT,NaT,NaT
Site Name,,,,,,,,,,,,,,,,,,,,,
Aberdeen Anderson Dr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aberdeen King Street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aberdeen Market Street 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aberdeen Union Street Roadside,13.3,14.8,6.3,6.0,5.3,3.3,3.8,3.5,4.0,1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aberdeen Wellington Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Westminster - Elizabeth Bridge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wigan Leigh 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Winchester St Georges Street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wrexham Chirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
York Gillygate,16.0,10.0,12.0,13.0,16.0,12.0,12.0,7.0,7.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Resetting index and adding Site Type, longitude, and latitude to the dataframe

In [38]:
values_numeric_indexed = values_numeric.reset_index()

In [39]:
values_numeric_indexed

Date_and_Time,Site Name,2016-01-01 01:00:00,2016-01-01 02:00:00,2016-01-01 03:00:00,2016-01-01 04:00:00,2016-01-01 05:00:00,2016-01-01 06:00:00,2016-01-01 07:00:00,2016-01-01 08:00:00,2016-01-01 09:00:00,...,2024-07-31 19:00:00,2024-07-31 20:00:00,2024-07-31 21:00:00,2024-07-31 22:00:00,2024-07-31 23:00:00,2024-08-01 00:00:00,NaT,NaT,NaT,NaT
0,Aberdeen Anderson Dr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aberdeen King Street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aberdeen Market Street 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aberdeen Union Street Roadside,13.3,14.8,6.3,6.0,5.3,3.3,3.8,3.5,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aberdeen Wellington Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,Westminster - Elizabeth Bridge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,Wigan Leigh 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,Winchester St Georges Street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,Wrexham Chirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,York Gillygate,16.0,10.0,12.0,13.0,16.0,12.0,12.0,7.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Retrieving the data from the sites_df

### Site Type

In [40]:
site_types = sites_df['Site Type'].tolist()

### Longitude

In [41]:
site_longitudes = sites_df['Longitude'].tolist()

### Latitude

In [42]:
site_latitudes = sites_df['Latitude'].tolist()

## Inserting data into the values_numeric_indexed dataframe

In [43]:
values_numeric_indexed.insert(1, 'Site Type', site_types)

values_numeric_indexed.insert(1, 'Site Longitude', site_longitudes)

values_numeric_indexed.insert(1, 'Site Latitude', site_latitudes)

In [44]:
values_numeric_indexed

Date_and_Time,Site Name,Site Latitude,Site Longitude,Site Type,2016-01-01 01:00:00,2016-01-01 02:00:00,2016-01-01 03:00:00,2016-01-01 04:00:00,2016-01-01 05:00:00,2016-01-01 06:00:00,...,2024-07-31 19:00:00,2024-07-31 20:00:00,2024-07-31 21:00:00,2024-07-31 22:00:00,2024-07-31 23:00:00,2024-08-01 00:00:00,NaT,NaT,NaT,NaT
0,Aberdeen Anderson Dr,57.128567,-2.125447,Urban Traffic,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aberdeen King Street,57.169738,-2.095348,Urban Traffic,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aberdeen Market Street 2,57.141922,-2.091664,Urban Traffic,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aberdeen Union Street Roadside,57.144555,-2.106472,Urban Traffic,13.3,14.8,6.3,6.0,5.3,3.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aberdeen Wellington Road,57.134195,-2.093968,Urban Traffic,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,Westminster - Elizabeth Bridge,51.492248,-0.147115,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,Wigan Leigh 3,53.497759,-2.518731,Urban Traffic,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,Winchester St Georges Street,51.063056,-1.315556,Urban Traffic,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,Wrexham Chirk,52.93742,-3.053129,Urban Industrial,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,York Gillygate,53.96367,-1.08469,Urban Traffic,16.0,10.0,12.0,13.0,16.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
values_numeric_indexed.to_csv('pm_data_cleaned.csv')

In [46]:
#sites_df

Site Name,Latitude,Longitude,Site Type,Zone,Agglomeration,Local Authority
Aberdeen Anderson Dr,57.128567,-2.125447,Urban Traffic,North East Scotland,NaN,Aberdeen
Aberdeen King Street,57.169738,-2.095348,Urban Traffic,North East Scotland,NaN,Aberdeen
Aberdeen Market Street 2,57.141922,-2.091664,Urban Traffic,North East Scotland,NaN,Aberdeen
Aberdeen Union Street Roadside,57.144555,-2.106472,Urban Traffic,North East Scotland,NaN,Aberdeen
Aberdeen Wellington Road,57.134195,-2.093968,Urban Traffic,North East Scotland,NaN,Aberdeen
...,...,...,...,...,...,...
Westminster - Elizabeth Bridge,51.492248,-0.147115,Unknown,Greater London,Greater London Urban Area,Westminster
Wigan Leigh 3,53.497759,-2.518731,Urban Traffic,North West & Merseyside,Greater Manchester Urban Area,Wigan
Winchester St Georges Street,51.063056,-1.315556,Urban Traffic,South East,NaN,Winchester
Wrexham Chirk,52.93742,-3.053129,Urban Industrial,North Wales,NaN,Wrexham
York Gillygate,53.96367,-1.08469,Urban Traffic,Yorkshire & Humberside,NaN,York

In [47]:
#sites_df.to_csv('site_info.csv')